# 2. Анализ и список функциональных требований.
## 2.1. Реализация социальных компонентов в приложении:
* FR-1.1. Система должна позволять просматривать социальные группы по интересам с возможностью фильтрации по: виду спорта, возрастной группе, уровню подготовки.
* FR-1.2. Система должна позволять осуществлять поиск социальной группы по её наименованию.
* FR-1.3. Система должна позволять пользователю присоединиться или покинуть группу.
* FR-1.4. Система должна позволять владельцу группы пригласить или удалить конкретного пользователя.
* FR-1.5. Система должна позволять пользователю отправлять сообщения в группах, их редактировать или удалять (только свои сообщения).
* FR-1.6. Система должна позволять пользователю создать новую группу или удалить старую (если он является её создателем).
* FR-1.7. Система должна позволять пользователям отвечать на сообщения других пользователей или оставлять реакцию на эти сообщения.
* FR-1.8. Система должна позволять просматривать пользователю сообщения группы, кроме удаленных, с момента создания группы.
* FR-1.9. Система должна оповещать группу при добавлении к ней или удалении новых пользователей.
* FR-1.10. Система должна позволять пользователю просматривать состав группы.

В целом, тут собраны основные функциональные требования к мессенджерам, которые позволяют людям вполне комфортно общаться. Этот список может быть существенно расширен, но это целесообразнее делать, когда все компоненты экосистемы соберутся вместе в единое целое.
## 2.2. Предоставление информации о характеристиках тренировки:
* FR-2.1. Система должна позволять пользователю просматривать и вести тренировочный дневник, содержащий распорядок тренировок по дням недели, состав упражнений, тренировочный цикл и нагрузка.
* FR-2.2. Система должна позволять пользователю просматривать динамику изменения нагрузки во времени в виде графиков по отдельным упражнениям, прогресс в достижении финтес-целей.
* FR-2.3. Система должна позволять пользователю сопоставлять свои кондиции с кондициями выбранных пользователей (не более одного).
* FR-2.4. Система должна позволять пользователю регулировать доступность своих результатов другим пользователям: закрыть доступ к своим результатам, сделать его публичным для всех, доступным конкретным пользователям или группам.
## 2.3. Возможность поиска людей по схожим интересам:
* FR-3.1. Система должна позволять пользователю заполнять свой профиль: ФИО, контактные данные, пол, возраст, спортивные интересы, уровень, места тренировок.
* FR-3.2. Система должна позволять пользователю делать профиль общедоступным (его смогут найти другие пользователи) и приватным (профиль не будет найден через поисковую систему).
* FR-3.3. Система должна позволять пользователю осуществлять поиск других пользователей по ФИО, виду спорта, уровню, месту тренировки.
* FR-3.4. Система должна позволять вести переписку с найденными людьми и приглашать их в группы.

Функция, показывающая, кто из пользователей тренируется прямо сейчас, нецелесообразна, поскольку во время тренировок пользователи сосредоточены на тренировках. Возможно выставление статуса вручную, но это второстепенная функция.
Поиск пользователей по маршруту пробежки также не целесообразен, поскольку тренировки являются обычно индивидуальными и предусматривают весьма ограниченное общение. Кроме того, не так важен маршрут, сколько его длина и профиль.
## 2.4. Возможность указания своего спортивного инвентаря:
Простое указание инвентаря не приводит к своевременному его обновлению. Видимо требуется возможность ведения блога пользователем.
* FR-4.1. Система должна позволять пользователю указывать спортивный инвентарь для тренировок.
* FR-4.2. Система должна позволять пользователю указывать рекомендации по использованию инвентаря на тренировках.
* FR-4.3. Система должна позволять пользователю указывать рекомендации по обновлению спортивного инвентаря.
## 2.5. Формирование и подсказки по составлению тренировок и их расписания:
* FR-5.1. Система должна позволять пользователю создавать, редактировать и удалять рекомендации по составлению плана тренировок, выполнения упражнений.
* FR-5.2. Система должна позволять пользователю осуществлять поиск и просмотр рекомендаций по составлению плана тренировок, выполнения упражнений.
## 2.6. Уведомление друзей о ваших новых успехах:
* FR-6.1. Система должна позволять пользователю предоставлять в общий доступ свои достижения.
* FR-6.2. Система должна позволять пользователю подписываться/отписываться на достижения других пользователей.
## 2.7. Геймификация:
* FR-7.1. Система должна поддерживать статусную модель клиента, в которой за участие в различных спортивных мероприятиях начисляются очки. После набора определенного количества очков меняется статус клиента (например, бронзовый, серебряный, золотой и т.д.). При достижении нового статуса клиенту доступны новые группы для общения, спортивные мероприятия и т.д.
* FR-7.2. Система должна поддерживать бонусную систему за спортивные достижения (для призеров спортивных мероприятий – дополнительные акции и скидки).
* FR-7.3. Система должна поддерживать систему виртуальных наград за участие в спортивных мероприятиях и получение новых статусов (стикеры в профиле).
## 2.8. Внедрение промоакций и новостей спорта в зависимости от характера тренировок для вовлечённости:
* FR-8.1. Система должна позволять пользователю просматривать и использовать действующие промоакции.
* FR-8.2. Система должна позволять пользователю подписываться (и отписываться) на новости спорта в зависимости от его предпочтений.
* FR-8.3. Система должна поддерживать как глобальные промоакции, так и региональные.
## 2.9. Возможность подключения сторонних устройств для отслеживания тренировок:
* FR-9.1. Система должна позволять пользователю подключать фитнес функции телефона к системе для получения затраченных калорий, активности, пульс, уровень кислорода, отслеживание тренировок.
* FR-9.2. Система должна позволять пользователю подключать дополнительные устройства, позволяющие отслеживать указанные в FR-9.1, при наличии соответствующего интерфейса.
* FR-9.3. Система должна позволять пользователю просматривать состояние организма (как текущее, так и за последние 7 дней).
## 2.10. Лёгкая интеграция существующих приложений компании для облегчения продаж:
* FR-10.1. Система должна реализовывать интеграцию с существующими приложениями для продажи товаров в части: отображения каталога, выбора и заказа товара, выбора типа доставки, адреса.
* FR-10.2. Система должна реализовывать интеграцию с существующими узкоспециализированными приложениями.
