9.Анализ и список нефункциональных требований.
– **Требования к доступности**:
1. Система должна быть доступна 99% времени, в том числе, во время планового обслуживания.

– **Требования к производительности**:
1. Система должна обслуживать 1 000 000 активных пользователей и 100 000 пользователей в период пиковой нагрузки с 10.00 до 21.00 со средней продолжительностью сеанса 30 минут.
2. Система должна выводить пользователю информацию о подтверждении создания заказа в среднем за 3 секунды и не более 5 секунд, после того, как пользователь подтвердил заказ, без обновления страницы.
3. Обновление статуса заказа в интерфейсе пользователя должно осуществляться в среднем течение 3 секунд, после его изменения без обновления страницы пользователем.
4. Все веб-страницы, генерируемые системой, должны полностью загружаться не более чем за 2 секунды после запроса их по интернет-подключению со скоростью не менее 20 Мбит/сек.
6. Система логистики в случае задержек доставки сообщает не менее чем за 2 часа о смещении времени доставки и предложениями о новом времени (дате).
7. Социальная система должна обеспечивать функциональность при пиковой нагрузке с задержкой отклика на действия пользователя не более 1 секунды при работе с мессенджером и в среднем не более 3 секунд при просмотре достижений клиентов.
8. Система должна позволять увеличение нагрузки (количества одновременно работающих пользователей) за рамками требований к Производительности с возможным ухудшением показателей (времени отклика и времени исполнения запросов).

– **Требования к безопасности**:
1. Вся поддающаяся учету личная информация должна быть зашифрована с использованием 256-разрядного шифрования и храниться на физических серверах компании.
2. Пользователь обязательно регистрируется в системе для выполнения всех операций, кроме просмотра каталога. (принцип «Знай своего клиента», кроме того, снижает количество ложных заказов).
3. Система должна позволять клиентам просматривать только заказы, размещенные ими лично, но не другими клиентами.
4. Система должна позволять клиентам просматривать контент других клиентов в соответствии с политиками конфиденциальности.

– **Требования к эластичности/масштабируемости (росту)**:
1. Система должна реагировать увеличением/уменьшением количества работающих инстансов при изменении нагрузки. Интервал времени до запуска каждого последующего инстанса увеличивается в 2 раза.
2. Система должна позволять увеличить количество активных пользователей в три раза в течение 1 года с соответствующим увеличением (в три раза) пиковой нагрузки.

– **Требования переносимости**:
1. Сервисы, не использующие чувствительные данные, должны быть реализованы таким образом, чтобы существовала возможность их запуска не зависимо от облачного провайдера или конфигурации серверов.

– **Требования наблюдаемости**:
1. Каждый сервис системы должен вести логи с регулярной (раз в 5 минут) отправкой их в централизованное хранилище логов. Срок хранения логов 1 месяц.
2. Должен выполняться сбор системных метрик (оценка здоровья или производительности отдельного сервера) и метрик приложений (частота ошибок и их тип, количество перезапусков, задержка обработки запросов, использование ресурсов. Регулярность сбора метрик – раз в 1 минуту, время хранения – 2 недели.
3. Для системы заказов должна быть реализована трассировка.

– **Требования конечных пользователей (удобство использования)**:
1. Система должна позволять продолжить работу с оформлением заказа в течение 7 дней с момента помещения первого товара в корзину.
2. Складские остатки должны обновляться в реальном времени (по факту их резервирования или поступления товаров на склад).
3. Система должна позволять клиенту использовать функциональность тренировочного дневника при потере связи с сетью.

– **Требования к надежности**:
1. Если соединение между пользователем и системой разрывается до того, как заказ подтвержден или отменен, система должна позволять пользователю завершить формирование заказа позднее, но не более 7 дней с момента добавления первой позиции в корзину.
2. Система должна восстанавливаться после сбоя не более чем за 5 минут.

– **Бизнес правила**:
1. Все номенклатуры товара из заказа должны доставляться в одно место либо выдаваться в одном пункте выдачи.
2. Если заказ доставляется, клиент его должен оплатить курьеру.
3. Только работники склада могут обновлять каталог и остатки.

– **Требования к API и коммуникации**:
1. API Gateway должны реализовывать функции аутентификации и авторизации пользователей, контроля нагрузки (ограничивать количество вызовов от каждого клиента), мониторинга для отслеживания использования ресурсов, производительности и других метрик вашего сервиса.
2. Для разработанных сервисов используется их существующее API для подключения к системе.
3. API Gateway должен поддерживать введение новых сервисов и систем.

– **Требования к данным**:
1. Данные по текущим и завершенным заказам должны храниться не менее 3 лет.
2. Персональные данные должны удаляться из системы по требованию (письменному) клиента.
3. Рекомендации и достижения клиентов не имеют срока давности.
4. Данные социальной системы старше 1 года хранятся в виде архивов.
